.hiddenZone {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #444;
  width: 44px;
  height: 44px;
  border: 1px solid #32557f;
  border-radius: 5%;
  /* margin: 2px; */
}

.hiddenZone:hover{
  background-color: #ec8908;
}

.digits{
  background-color: transparent;
  color: red;
}

.digit_1{
  background-color: transparent;
  color: blue;
}

.digit_2{
  background-color: transparent;
  color: green;
}

.digit_3{
  background-color: transparent;
  color: red;
}

.digit_4{
  background-color: transparent;
  color: darkgreen;
}

.hidden{
  background-color: #444;
  color: #444;
}

.unhidden{
  background-color: transparent;
}