.digit_1{
  color:blue;
  font-weight: 800;
  font-size: 20px;
}

.digit_2{
  color:green;
  font-weight: 800;
  font-size: 20px;
}

.digit_3{
  color:red;
  font-weight: 800;
  font-size: 20px;
}

.digit_4{
  color:darkblue;
  font-weight: 800;
  font-size: 20px;
}

.digit_5{
  color:brown;
  font-weight: 800;
  font-size: 20px;
}

.digit_6{
  color:cyan;
  font-weight: 800;
  font-size: 20px;
}

.digit_7{
  color:violet;
  font-weight: 800;
  font-size: 20px;
}

.digit_8{
  color:blueviolet;
  font-weight: 800;
  font-size: 20px;
}

.hideSquare{
  z-index: 10;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  background: #c0c0c0;
  border: #777676 1px solid;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}