.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.counterButtonClock{
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  margin-top: 16px;
}

.difficultySelector{
  display: flex;
  width: 25%;
  margin-top: 8px;
}